<!DOCTYPE html>
<html>
<head>
	<title>Edit Venue</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
		.box{
			padding: 24px;
			background-color: aliceblue;
			border-radius: 24px;
			border: 1px solid black;
		}
		.cyan{
			background-color: aliceblue;
		}
		.body{
			background-color: #f6f7ff;		
		}
	</style>
</head>
<body>
	<div class="jumbotron text-center cyan">
		<h2>Edit Venue</h2>
        <a class="navbar-brand" href="{{ url_for('main.adminDashboard') }}"
        >See all already created venues here</a>
	  </div>
	<div class="container box" style="text-align:center;">
		<form method="POST" action="/venue/{{venue.id}}/edit">
			<div class="form-group">
                <label for="name">Name:</label>
				<input type="text" class="form-control" name="name" value="{{ venue.name }}">
                <label for="address">Address:</label>
				<input type="text" class="form-control" name="address" value="{{ venue.address }}">
				<label for="capacity">Capacity:</label>
				<input type="number" class="form-control" name="capacity" value="{{ venue.capacity }}">
			</div>
			<button type="submit" class="btn btn-primary">Edit</button>
		</form>
	</div>
</body>
</html>