<!DOCTYPE html>
<html lang="en">
<head>
  <title>TicketShow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
		.box{
			padding: 24px;
			background-color: aliceblue;
			border-radius: 24px;
			border: 1px solid black;
		}
		.cyan{
			background-color: aliceblue;
		}
		.body{
			background-color: #f6f7ff;		
		}
	</style>
</head>
<body>
  <div class="jumbotron text-center cyan">
    <h1>Welcome to TicketShow</h1>
    <p>This is a Flask Application that implements the features like adding venues, adding shows, buying tickets for the shows, rating the shows, and analytics of the reviews.</p>
  </div>
  <div class="container box">
    <div class="row">
      <div class="col-sm-4" style="text-align:center">
        <h3>User Login</h3>
        <p>Click here to login as a user.</p>
        <a href="{{ url_for('auth.login') }}">
        <button type="button" class="btn btn-primary">Login</button>
        </a>
      </div>
      <div class="col-sm-4" style="text-align:center">
        <h3>User Signup</h3>
        <p>Click here to signup as a user.</p>
        <a href="{{ url_for('auth.signup') }}">
        <button type="button" class="btn btn-primary">Signup</button>
        </a>
      </div>
      <div class="col-sm-4" style="text-align:center">
        <h3>Admin Sign in</h3>
        <p>Click here to sign in as an admin.</p>
        <a href="{{ url_for('auth.adminAuth') }}">
        <button type="button" class="btn btn-primary">Sign in</button>
        </a>
      </div>
    </div>
  </div>
  <footer class="container-fluid text-center">
    <p>Made with ❤ By Souvik Choudhury</p>
  </footer>
</body>
</html>